<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<head>
<title>Shereen Portfolio</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

.catalog {
	background-color: rgba(56, 55, 55, 0.377);
	padding: 1%;
	font-family: Courier New, Courier, monospace;
}

.row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
}

.row>[class*='col-'] {
	display: flex;
	flex-direction: column;
}
</style>

</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid navbar-header">
                        <a class="navbar-brand" href='/catalogs?page=0'>Home</a>
                
        </div>
    </nav>
    <div class="container-fluid">
            <div class="col-sm-6 ">
              <h1 th:text="${errorStatus}"> </h1>
              <h2 > Ooops...this page does not exist! </h2>  <a href='/catalogs'>  back home</a>.
              
              </div>
              
              </div>
          </body>
      </html>